<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header :: head"></th:block>
</head>
<body>
<div class="container">
    <br>
    <nav>
        <th:block th:replace="fragments/nav :: nav"></th:block>
    </nav>
    <br>

    <h1>Lista kursów</h1>
    <br>
    <table class="table table-striped">
        <thead>
        <th scope="row">#Numer kursu</th>
        <th scope="row">Nazwa</th>
        <th scope="row">Kategoria</th>
        <th scope="row">Popraw</th>
        <th scope="row">Usuń</th>
        </thead>
        <tbody>
        <tr th:each="course : ${courseLists.getContent()}">
            <td th:text="${course.id}"></td>
            <td th:text="${course.courseName}"></td>
            <td th:text="${course.categories}"></td>
            <td>
                <a class="btn btn-primary" th:href="@{/updateCourse/__(${course.id})__}" role="button">popraw</a>
            </td>
            <td>
                <a class="btn btn-primary" th:href="@{/deleteCourse/__(${course.id})__}" role="button">usuń</a>
            </td>
        </tr>
        </tbody>
    </table>

    <br>
    <a class="btn btn-primary" style="float: right" th:href="@{/addCoursePage}" role="button">Dodaj nowy kurs</a>
    <br>

    <ul class="pagination justify-content-center">
        <li class="page-item" th:each="page : ${#numbers.sequence(0, courseLists.getTotalPages())}">
            <a class="page-link" th:href="@{/list(page=__${page}__)}" th:text="${page+1}"></a>
        </li>
    </ul>

    <footer>
        <th:block th:include="fragments/footer :: footer"></th:block>
    </footer>

</div>
</body>
</html>