<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header :: head"></th:block>
</head>
<body>
<div class="container">
    <nav>
        <th:block th:replace="fragments/nav :: nav"></th:block>
    </nav>


    <h1 th:text="${homeTitle}"/>

    <form th:action="@{/processForm}" method="POST">
        <input type="text" th:name="foo"/>
        <input type="submit"/>
    </form>

    <h1 th:text="${fooText}">Domyslny tekst</h1>


    <footer>
        <th:block th:include="fragments/footer :: footer"></th:block>
    </footer>
</div>
</body>
</html>