<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header :: head"></th:block>
</head>
<body>
<div class="container">
    <nav>
        <th:block th:replace="fragments/nav :: nav"></th:block>
    </nav>
    <br>
    <h1 th:text="${homeTitle}">Testowa aplikacja z listą kursów</h1>
    <img style="margin-left: 25%; margin-top: 10%;"
         src="https://fiverr-res.cloudinary.com/images/q_auto,f_auto/gigs/99937611/original/d1c6ac81f536b60b0df88472d3582cdc4ad644d4/spring-mvc-boot-application.png"/>
    <h4 style="margin-top: 15%">
        Aby zobaczyć listę wszystkich kursów<a th:href="@{/list(page='0')}"> Kliknij Tutaj</a>
    </h4>
    <br>

    <footer>
        <th:block th:include="fragments/footer :: footer"></th:block>
    </footer>
</div>
</body>
</html>